<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LanguageLink</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <div>
            <nav class="navtop">
                <div class="logo">
                    <a href="{{ url_for('index') }}">App</a>
                </div>
                <div class="menu">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </nav>
            <div class="course_wrapper">
                <div class="course">
                    <div class="course_info_wrapper"">
                        <image src="{{url_for('static', filename=course['photo'])}}.jpg" alt="default image"></image>
                        <div class="course_info">
                            <h2>{{ course['name'] }}</h2>
                            <p>{{ course['description'] }}</p>
                        </div>
                    </div>
                    {% if enrolled == True %}
                    <a class="continue_course_btn" href="{{ url_for('startlesson') }}/{{ lessonid['lessonid'] }}">Continue course</a>
                    {% else %}
                    <a class="continue_course_btn" href="{{ url_for('enroll') }}/{{ course['id'] }}">Enroll course</a>
                    {% endif %}
                </div>
                <div class="lessons">
                    {% for lesson in lessons: %}
                    <a href="{{ url_for('lesson') }}/{{ lesson['lesson_id'] }}" class="lesson">
                        <div class="lesson_title">{{ lesson['lesson_name'] }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>