<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LanguageLink</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	</head>
	<body>
        <nav class="navtop">
            <div class="logo">
                <a href="{{ url_for('index') }}">App</a>
            </div>
            <div class="menu"> 
                {% if loggedin == False %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('signup') }}" class="active">Sign up</a>
                {% endif %}
                {% if loggedin == True %}
                <a href="{{ url_for('courses') }}" class="active">Courses</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        </nav>
        <div class="courses">
            {% if loggedin == True %}
                {% if courses %}
                    <h1>My Courses</h1>
                    {% for course in courses: %}
                    <div class="course">
                        <div class="course-left">
                            <image src="{{url_for('static', filename=course['photo'])}}.jpg" alt="default image"></image>
                            <a href="{{ url_for('course') }}/{{ course['id'] }}">{{ course['name'] }}</a>
                        </div>
                        <a class="enroll" href="{{ url_for('removecourse') }}/{{ course['id'] }}">Remove</a>
                    </div>
                    {% endfor %}
                {% else %}
                <h1>Enroll in a course here: <a class="button" href="{{ url_for('courses') }}" class="active">Courses</a></h1>
                {% endif %}
            {% else %}
            <h1>Login to enroll in a course</h1>
            {% endif %}
        </div>
	</body>
</html>