<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LanguageLink</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="login">
            <nav class="navtop">
                <div class="logo">
                    <a href="{{ url_for('index') }}">App</a>
                </div>
                <div class="menu">
                    <a href="{{ url_for('signup') }}">Sign up</a>
                </div>
            </nav>
            <div class="form_wrapper">
                <form class="form" action="" method="post">
                    <h2 class="form_title">Log in</h2>
                    <div class="form_div">
                        <input type="text" name="username" placeholder="Username" id="username" required>
                    </div>
                    <div class="form_div">
                        <input type="password" name="password" placeholder="Password" id="password" required>
                    </div>
                    <div class="msg">{{ msg }}</div>
                    <div class="form_div">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>